.book-brand {
    a {
        flex-wrap: wrap;
    }

    img {
        width: 90%;
        height: auto;
    }
}

.book-menu > div > nav > ul > li {
    > span {
        font-weight: bolder;
    }

    > a {
        font-weight: bolder;
    }
}
